header h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 70px;
}

header {
    height: 400px;
}

.button {
    width: 292px;
}

body {
    margin: 50px;
}

.card-bg {
    background-color: black;
}